<h1 class="mb-4">Purchase History</h1>
{{#if purchaseHistory.length}}
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Compra</th>
                <th>Productos</th>
                <th>Precio Total</th>
                <th>Método de Pago</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each purchaseHistory}}
                <tr>
                    <!-- Usamos la propiedad formattedDate en lugar de createdAt -->
                    <td>{{this.formattedDate}}</td>
                    <td>
                        <ul>
                            {{#each products}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </td>
                    <td>{{this.totalPrice}}$</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.paymentStatus}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You do not have a purchase history</p>
{{/if}}